:root {
    --main-text-color: #757575;
    --seconadry-text-color: #212121;
  
    --main-btn-text-color: #212121;
    --secondary-btn-text-color: #ffffff;
    --btn-bg-color: #f5f4fa;
  
    --main-bg-color: #ffffff;
    --secondary-bg-collor: #f5f4fa;
  
    --header-bg-color: #ffffff;
    --footer-bg-color: #2f303a;
  
    --accent-color: #2196f3;
  
    --icon-color: #afb1b8;
  }